<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to avoid prettytable default error.

In [3]:
!pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\acheteur\appdata\roaming\python\python312\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\acheteur\appdata\roaming\python\python312\site-packages (3.12.0)
Requirement already satisfied: ipython in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython-sql) (8.28.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\acheteur\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [9]:
import pandas as pd
import sqlite3

# Étape 1 : Charger les données dans des DataFrames pandas
folder_path = r"C:\Users\Acheteur\Desktop\CERTIFICAT\INTROP\projet en payhton\mes fichiers"
census_data = pd.read_csv(f'{folder_path}/ChicagoCensusData.csv')
chicago_public_schools = pd.read_csv(f'{folder_path}/ChicagoPublicSchools.csv')
chicago_crime_data = pd.read_csv(f'{folder_path}/ChicagoCrimeData.csv')

# Étape 2 : Établir une connexion avec la base de données SQLite
conn = sqlite3.connect('FinalDB.db')

# Étape 3 : Charger les données dans des tables SQLite
census_data.to_sql('ChicagoCensusData', conn, if_exists='replace', index=False)
chicago_public_schools.to_sql('ChicagoPublicSchools', conn, if_exists='replace', index=False)
chicago_crime_data.to_sql('ChicagoCrimeData', conn, if_exists='replace', index=False)

# Étape 4 : Vérification (Lister les tables)
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

# Étape 5 : Fermer la connexion après vérification
conn.close()

Tables in the database: [('ChicagoCensusData',), ('ChicagoPublicSchools',), ('ChicagoCrimeData',)]

Load the SQL magic module

In [11]:
# Charger l'extension SQL magic
%load_ext sql

# Se connecter à la base de données SQLite
%sql sqlite:///FinalDB.db

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

Establish a connection between SQL magic module and the database `FinalDB.db`

In [17]:
# Charger l'extension SQL magic
%load_ext sql

# Se connecter à la base de données SQLite FinalDB.db
%sql sqlite:///FinalDB.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [28]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///FinalDB.db
Done.

[('ChicagoCensusData',), ('ChicagoPublicSchools',), ('ChicagoCrimeData',)]

In [32]:
%%sql
SELECT COUNT(*) AS total_crimes FROM ChicagoCrimeData;

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [34]:
%%sql
SELECT community_area_name, community_area_number
FROM ChicagoCensusData
WHERE per_capita_income < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [38]:
%%sql
SELECT case_number
FROM ChicagoCrimeData
WHERE description LIKE '%minor%';

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [49]:
%%sql
SELECT * FROM ChicagoCrimeData WHERE PRIMARY_TYPE = "KIDNAPPING" AND DESCRIPTION LIKE "%CHILD%"

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [51]:
%%sql
SELECT DISTINCT primary_type
FROM ChicagoCrimeData
WHERE location_description LIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [55]:
%%sql
SELECT school_ID, AVG(safety_score) AS average_safety_score
FROM ChicagoPublicSchools
GROUP BY school_ID;

 * sqlite:///FinalDB.db
Done.

[(400018, 38.0),
 (609674, 27.0),
 (609676, 29.0),
 (609678, 92.0),
 (609679, 59.0),
 (609680, 98.0),
 (609682, 30.0),
 (609691, 42.0),
 (609692, 52.0),
 (609693, 74.0),
 (609694, 51.0),
 (609695, 51.0),
 (609698, 20.0),
 (609702, 43.0),
 (609704, 43.0),
 (609705, 36.0),
 (609707, 29.0),
 (609708, 26.0),
 (609709, 14.0),
 (609710, None),
 (609711, 22.0),
 (609712, 13.0),
 (609713, 29.0),
 (609715, 36.0),
 (609716, 32.0),
 (609718, 53.0),
 (609719, 64.0),
 (609720, 88.0),
 (609722, 41.0),
 (609723, 51.0),
 (609724, 58.0),
 (609725, 40.0),
 (609726, 64.0),
 (609727, None),
 (609728, 42.0),
 (609729, 48.0),
 (609730, 48.0),
 (609732, 26.0),
 (609733, 30.0),
 (609734, 61.0),
 (609735, 34.0),
 (609736, 27.0),
 (609737, 70.0),
 (609738, 65.0),
 (609739, 46.0),
 (609740, 51.0),
 (609741, 42.0),
 (609744, 99.0),
 (609745, None),
 (609746, 63.0),
 (609749, 99.0),
 (609751, None),
 (609753, 87.0),
 (609754, 32.0),
 (609755, 95.0),
 (609756, 43.0),
 (609759, 44.0),
 (609760, 53.0),
 (609761, 33.0),
 (609762, 28.0),
 (609764, 46.0),
 (609766, 57.0),
 (609768, 31.0),
 (609769, 90.0),
 (609772, 56.0),
 (609773, 53.0),
 (609774, None),
 (609775, 48.0),
 (609777, 36.0),
 (609779, 59.0),
 (609780, 38.0),
 (609781, 45.0),
 (609782, 95.0),
 (609786, 32.0),
 (609788, 46.0),
 (609789, 35.0),
 (609790, 25.0),
 (609791, 28.0),
 (609792, 55.0),
 (609793, 48.0),
 (609794, 91.0),
 (609795, 39.0),
 (609796, 63.0),
 (609797, 63.0),
 (609798, 64.0),
 (609799, 99.0),
 (609800, 46.0),
 (609803, 99.0),
 (609804, 52.0),
 (609805, 35.0),
 (609806, 31.0),
 (609807, 42.0),
 (609808, 28.0),
 (609809, 57.0),
 (609810, 67.0),
 (609811, 18.0),
 (609812, 36.0),
 (609813, 20.0),
 (609815, 33.0),
 (609817, 59.0),
 (609818, 37.0),
 (609819, 1.0),
 (609820, 99.0),
 (609821, 61.0),
 (609826, 36.0),
 (609827, 51.0),
 (609828, 71.0),
 (609829, 50.0),
 (609830, 30.0),
 (609832, 63.0),
 (609833, 25.0),
 (609834, 45.0),
 (609835, 42.0),
 (609836, 87.0),
 (609837, 48.0),
 (609839, 35.0),
 (609842, 38.0),
 (609844, 13.0),
 (609845, 25.0),
 (609848, 39.0),
 (609849, 76.0),
 (609850, 65.0),
 (609851, 34.0),
 (609852, 70.0),
 (609853, 55.0),
 (609854, 86.0),
 (609855, None),
 (609856, 38.0),
 (609857, 64.0),
 (609859, 47.0),
 (609861, 45.0),
 (609862, 22.0),
 (609863, 66.0),
 (609864, None),
 (609865, 61.0),
 (609866, 87.0),
 (609867, None),
 (609869, 31.0),
 (609870, 39.0),
 (609871, None),
 (609872, 45.0),
 (609873, 27.0),
 (609874, 44.0),
 (609875, 58.0),
 (609876, 43.0),
 (609879, 44.0),
 (609880, 99.0),
 (609881, 38.0),
 (609883, 55.0),
 (609884, 67.0),
 (609885, 41.0),
 (609887, 47.0),
 (609888, 57.0),
 (609891, 30.0),
 (609893, 74.0),
 (609894, 59.0),
 (609895, 56.0),
 (609896, 72.0),
 (609897, 24.0),
 (609898, 42.0),
 (609899, 78.0),
 (609900, 23.0),
 (609901, 99.0),
 (609902, None),
 (609903, 48.0),
 (609904, 30.0),
 (609906, 37.0),
 (609907, 33.0),
 (609908, 36.0),
 (609909, None),
 (609910, 54.0),
 (609912, 55.0),
 (609913, 44.0),
 (609916, 30.0),
 (609917, 29.0),
 (609918, 42.0),
 (609919, 13.0),
 (609920, 44.0),
 (609921, 42.0),
 (609922, 75.0),
 (609924, 34.0),
 (609925, 58.0),
 (609926, 87.0),
 (609927, 11.0),
 (609928, 22.0),
 (609929, 46.0),
 (609930, 16.0),
 (609932, None),
 (609933, 39.0),
 (609935, 49.0),
 (609937, 60.0),
 (609938, 32.0),
 (609939, 27.0),
 (609941, 15.0),
 (609942, 75.0),
 (609943, 34.0),
 (609944, 62.0),
 (609945, 70.0),
 (609947, 49.0),
 (609949, 57.0),
 (609950, None),
 (609951, None),
 (609952, None),
 (609954, 44.0),
 (609955, 25.0),
 (609956, 79.0),
 (609958, 46.0),
 (609959, 32.0),
 (609960, 55.0),
 (609961, 36.0),
 (609963, 73.0),
 (609964, 33.0),
 (609966, 40.0),
 (609967, 56.0),
 (609968, None),
 (609969, 63.0),
 (609971, 51.0),
 (609972, 43.0),
 (609973, 60.0),
 (609974, 92.0),
 (609975, 44.0),
 (609976, 72.0),
 (609977, 70.0),
 (609978, 22.0),
 (609979, 63.0),
 (609981, 33.0),
 (609983, 22.0),
 (609985, 29.0),
 (609986, 16.0),
 (609987, 33.0),
 (609988, 45.0),
 (609989, 50.0),
 (609990, 84.0),
 (609991, 41.0),
 (609993, 56.0),
 (609994, None),
 (609995, 64.0),
 (609996, 53.0),
 (609997, 21.0),
 (610000, 67.0),
 (610002, 67.0),
 (610003, 51.0),
 (610004, 14.0),
 (610005, 42.0),
 (610006, 77.0),
 (610009, 65.0),
 (610010, 72.0),
 (610011, 64.0),
 (610012, 50.0),
 (610013, 43.0),
 (610015, 36.0),
 (610016, 76.0),
 (610017, 60.0),
 (610018, 57.0),
 (610019, 62.0),
 (610020, 37.0),
 (610021, None),
 (610022, None),
 (610023, 47.0),
 (610024, None),
 (610026, 64.0),
 (610027, 52.0),
 (610028, 19.0),
 (610029, 55.0),
 (610030, 36.0),
 (610031, 44.0),
 (610032, 32.0),
 (610033, 99.0),
 (610034, None),
 (610036, 21.0),
 (610037, 36.0),
 (610038, 99.0),
 (610039, 68.0),
 (610040, None),
 (610041, 57.0),
 (610043, 43.0),
 (610044, 39.0),
 (610045, 19.0),
 (610046, 55.0),
 (610047, 39.0),
 (610048, 43.0),
 (610051, 34.0),
 (610052, 28.0),
 (610053, 15.0),
 (610054, 72.0),
 (610055, 35.0),
 (610056, 37.0),
 (610057, 31.0),
 (610058, 42.0),
 (610059, 67.0),
 (610060, 86.0),
 (610061, 52.0),
 (610062, 49.0),
 (610063, None),
 (610065, 31.0),
 (610066, 99.0),
 (610067, 23.0),
 (610068, 35.0),
 (610070, 71.0),
 (610072, 28.0),
 (610073, 99.0),
 (610074, 45.0),
 (610075, 28.0),
 (610076, 50.0),
 (610077, 28.0),
 (610078, 67.0),
 (610081, 74.0),
 (610082, 84.0),
 (610083, None),
 (610084, 99.0),
 (610085, 50.0),
 (610086, 31.0),
 (610087, None),
 (610088, 41.0),
 (610089, 80.0),
 (610090, 66.0),
 (610091, 31.0),
 (610092, 41.0),
 (610093, 42.0),
 (610094, 58.0),
 (610095, 71.0),
 (610096, 35.0),
 (610097, 52.0),
 (610098, 37.0),
 (610099, 99.0),
 (610100, 29.0),
 (610101, None),
 (610102, 44.0),
 (610103, 17.0),
 (610104, 64.0),
 (610105, 99.0),
 (610106, 27.0),
 (610107, 83.0),
 (610108, 5.0),
 (610109, 49.0),
 (610110, 49.0),
 (610111, 75.0),
 (610112, 30.0),
 (610114, 38.0),
 (610115, 28.0),
 (610116, None),
 (610117, 50.0),
 (610119, 51.0),
 (610120, 51.0),
 (610121, 43.0),
 (610122, 58.0),
 (610123, 78.0),
 (610124, 28.0),
 (610125, 57.0),
 (610126, None),
 (610127, 62.0),
 (610128, 50.0),
 (610129, 50.0),
 (610130, 26.0),
 (610131, 45.0),
 (610132, 99.0),
 (610133, None),
 (610134, 48.0),
 (610135, 62.0),
 (610136, 90.0),
 (610137, 71.0),
 (610138, 68.0),
 (610139, 59.0),
 (610141, 46.0),
 (610142, 69.0),
 (610143, 48.0),
 (610144, 48.0),
 (610145, 60.0),
 (610146, 36.0),
 (610147, 81.0),
 (610148, 54.0),
 (610150, 39.0),
 (610152, 43.0),
 (610153, 34.0),
 (610154, 40.0),
 (610155, 99.0),
 (610156, 42.0),
 (610157, 57.0),
 (610158, 68.0),
 (610159, 44.0),
 (610160, 17.0),
 (610161, 33.0),
 (610163, None),
 (610165, None),
 (610167, 40.0),
 (610169, 23.0),
 (610170, 59.0),
 (610171, 27.0),
 (610172, 32.0),
 (610173, 38.0),
 (610174, 38.0),
 (610175, 45.0),
 (610176, 32.0),
 (610177, 87.0),
 (610178, 46.0),
 (610179, 55.0),
 (610180, 37.0),
 (610182, 78.0),
 (610183, 35.0),
 (610184, 66.0),
 (610185, 61.0),
 (610187, 49.0),
 (610188, 46.0),
 (610189, 37.0),
 (610191, 78.0),
 (610192, 28.0),
 (610193, 27.0),
 (610194, 41.0),
 (610195, 86.0),
 (610196, 61.0),
 (610197, 63.0),
 (610198, 34.0),
 (610199, 60.0),
 (610200, 32.0),
 (610201, 70.0),
 (610202, 6.0),
 (610203, None),
 (610205, 56.0),
 (610206, 67.0),
 (610207, 74.0),
 (610208, 15.0),
 (610209, 43.0),
 (610210, 31.0),
 (610212, 66.0),
 (610213, None),
 (610215, 49.0),
 (610216, 60.0),
 (610217, 49.0),
 (610218, 33.0),
 (610219, 58.0),
 (610220, 85.0),
 (610221, 48.0),
 (610223, 30.0),
 (610224, 23.0),
 (610225, 45.0),
 (610226, None),
 (610227, 44.0),
 (610228, 65.0),
 (610229, 59.0),
 (610230, 99.0),
 (610231, 67.0),
 (610232, None),
 (610233, 29.0),
 (610234, 42.0),
 (610235, 31.0),
 (610237, 40.0),
 (610238, 54.0),
 (610239, 29.0),
 (610240, 37.0),
 (610241, 26.0),
 (610242, 50.0),
 (610243, 52.0),
 (610244, None),
 (610245, 44.0),
 (610246, 47.0),
 (610248, 66.0),
 (610249, 99.0),
 (610250, 64.0),
 (610251, 69.0),
 (610252, 48.0),
 (610253, 67.0),
 (610254, 46.0),
 (610256, None),
 (610257, 53.0),
 (610258, 20.0),
 (610263, 42.0),
 (610264, 29.0),
 (610265, 36.0),
 (610266, 19.0),
 (610268, None),
 (610269, 56.0),
 (610271, 35.0),
 (610273, 31.0),
 (610274, 67.0),
 (610276, 44.0),
 (610277, 32.0),
 (610279, 33.0),
 (610280, 31.0),
 (610281, 54.0),
 (610282, 31.0),
 (610283, 30.0),
 (610284, None),
 (610285, 35.0),
 (610287, 48.0),
 (610290, 27.0),
 (610291, 59.0),
 (610293, 61.0),
 (610295, None),
 (610297, None),
 (610298, 79.0),
 (610299, 18.0),
 (610300, 30.0),
 (610304, 53.0),
 (610305, None),
 (610308, None),
 (610312, None),
 (610313, 57.0),
 (610315, 27.0),
 (610316, 81.0),
 (610317, 55.0),
 (610319, 60.0),
 (610320, 57.0),
 (610321, 39.0),
 (610323, 17.0),
 (610325, 56.0),
 (610329, 55.0),
 (610334, 52.0),
 (610336, 49.0),
 (610339, 23.0),
 (610340, 58.0),
 (610342, 67.0),
 (610345, 26.0),
 (610347, 36.0),
 (610348, 49.0),
 (610350, 68.0),
 (610352, 61.0),
 (610353, 58.0),
 (610354, 67.0),
 (610355, 99.0),
 (610357, 70.0),
 (610362, 27.0),
 (610363, None),
 (610364, 47.0),
 (610365, 53.0),
 (610366, 32.0),
 (610367, 35.0),
 (610368, 28.0),
 (610369, 38.0),
 (610380, 50.0),
 (610381, 41.0),
 (610383, 43.0),
 (610384, 58.0),
 (610385, 48.0),
 (610389, None),
 (610390, 64.0),
 (610391, 66.0),
 (610392, 51.0),
 (610394, 50.0),
 (610395, 46.0),
 (610396, 48.0),
 (610402, None),
 (610405, None),
 (610499, 60.0),
 (610501, 38.0),
 (610502, 41.0),
 (610503, 60.0),
 (610504, None),
 (610506, 45.0),
 (610513, 49.0),
 (610515, None),
 (610518, 42.0),
 (610520, 66.0),
 (610521, 35.0),
 (610523, 95.0),
 (610524, 70.0),
 (610529, 56.0),
 (610530, None),
 (610532, 34.0),
 (610533, None),
 (610534, None),
 (610535, 50.0),
 (610539, 54.0),
 (610541, 53.0),
 (610542, 67.0),
 (610543, 67.0),
 (610544, 54.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [57]:
%%sql
SELECT community_area_name, percent_households_below_poverty
FROM ChicagoCensusData
ORDER BY percent_households_below_poverty DESC
LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [59]:
%%sql
SELECT community_area_number
FROM ChicagoCrimeData
GROUP BY community_area_number
ORDER BY COUNT(*) DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0,)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [61]:
%%sql
SELECT community_area_name
FROM ChicagoCensusData
WHERE hardship_index = (SELECT MAX(hardship_index) FROM ChicagoCensusData);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [63]:
%%sql
SELECT community_area_name
FROM ChicagoCensusData
WHERE community_area_number = (
    SELECT community_area_number
    FROM ChicagoCrimeData
    GROUP BY community_area_number
    ORDER BY COUNT(*) DESC
    LIMIT 1
);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]